/* CSS Variables */
:root {
  --main-color: rgba(128, 0, 128, 0.655);
  --second-color: green;
  --third-color: peru;
  --default-size: 17px;
  --default-font: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

/* Normalizing our CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--third-color);
  font-family: var(--default-font);
}

.parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  background-color: red;
}

@media (max-width: 600px) {
  .parent-container {
    flex-direction: column;
  }
}

.box1,
.box2,
.box3 {
  padding: 4rem;
  margin: 2rem;
}

.box1 {
  background-color: aqua;
}
.box2 {
  background-color: blueviolet;
}

.box3 {
  background-color: darksalmon;
}
